<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<main>
  <div class="header">
    <h4> Resolve Complaints </h4>
  </div>

<div class="complaint-wrapper">
  <div class="form-div" *ngIf='viewResolutionForm'>
    <div class="complaint-display" *ngIf="resolutionService.selectedResolution._id === ''">
      <h5>Complaint:</h5>
      <h6>{{complaintService.selectedComplaint.complaint_header}}</h6>
      <p class="body-text">{{complaintService.selectedComplaint.complaint_body}}</p>
    </div>

    <div class="col s7 custom">
      <form #manageResolutionsForm="ngForm" (ngSubmit)="onSubmitResolution(manageResolutionsForm)" autocomplete="off">
          <p class="title" *ngIf="resolutionService.selectedResolution._id === ''">Add Resolution to the Complaint</p>
          <p class="title" *ngIf="resolutionService.selectedResolution._id !== ''">Update Resolution</p>
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="resolutionService.selectedResolution._id">
          <input id="complaint_id" type="hidden" name="complaint_id" #complaint_id="ngModel" [(ngModel)]="resolutionService.selectedResolution.complaint_id">
          <div class="row">
            <div class="col s12">
              <label class="display-label">Respondent ID</label>
              <div class="row">
                <div class="input-field col s12">
                  <input id="user_id" type="text" name="user_id" #user_id="ngModel" [(ngModel)]="resolutionService.selectedResolution.user_id" required>
                </div>
              </div>

              <label class="display-label">Resolution Header</label>
              <div class="row">
                <div class="input-field col s12">
                  <input id="resolution_header" type="text" name="resolution_header" #resolution_header="ngModel" [(ngModel)]="resolutionService.selectedResolution.resolution_header" required>
                </div>
              </div>

              <label class="display-label">Resolution</label>
              <div class="row">
                <div class="input-field col s12">
                  <input id="resolution_body" type="text" name="resolution_body" #resolution_body="ngModel" [(ngModel)]="resolutionService.selectedResolution.resolution_body" required>
                </div>
              </div>

              <div class="buttons">
                <div class="single-button cancel">
                  <button class="btn" type="button" (click)="resetResolutionForm()">Cancel</button>
                </div>

                <div class="single-button submit">
                  <button class="btn" type="submit" [disabled]="!manageResolutionsForm.valid">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>

  <div class="view-complaint-and-resolution" *ngIf="viewComplaintResolution">
    <div class="complaint">
      <h5>Complaint:</h5>
      <h6>{{complaintService.selectedComplaint.complaint_header}}</h6>
      <p class="body-text">{{complaintService.selectedComplaint.complaint_body}}</p>
    </div>

    <div class="resolution">
      <h5>Resolution:</h5>
      <h6>{{specificResolution.resolution_header}}</h6>
      <p class="body-text">{{specificResolution.resolution_body}}</p>
    </div>
    <button (click)="toggleViewComplaintResolution()">Close</button>
  </div>

  <div class="table-div">
    <div class="header">
      <h5> Complaints List </h5>
    </div>
    <!-- complaits table -->
    <table class="responsive-table highlight" *ngIf="complaintService.allComplaints?.length !== 0">
      <thead>
        <tr>
          <th>Complaint Header</th>
          <th>Complaint</th>
          <th>Status</th>
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Posted On</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaintService.allComplaints">
          <td>{{ complaint.complaint_header }}</td>
          <td>{{ complaint.complaint_body }}</td>
          <td *ngIf="complaint.complaint_status === 0">In queue</td>
          <td *ngIf="complaint.complaint_status === 1">Received by CSC personnel</td>
          <td *ngIf="complaint.complaint_status === 2">Moderated</td>
          <td *ngIf="complaint.complaint_status === 3">Pending SSO response</td>
          <td *ngIf="complaint.complaint_status === 4">Resolved</td>
          <td>{{ complaint.student_id }}</td>
          <td>{{ complaint.student_name }}</td>
          <td>{{ complaint.createdAt | date:'medium' }}</td>
          <td>{{ complaint.updatedAt | date:'medium' }}</td>
          <td *ngIf="complaint.complaint_status !== 4">
              <button (click)="viewComplaint(complaint);viewResolutionForm = true">Add Resolution</button>
          </td>
          <td *ngIf="complaint.complaint_status === 4">
            <button (click)="viewComplaint(complaint);viewResolution(complaint.resolution_id)">View Resolution</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="header">
      <h5> Resolutions Lists </h5>
    </div>

    <!-- resolutions table -->
    <table class="responsive-table highlight" *ngIf="resolutionService.allResolutions?.length !== 0">
      <thead>
        <tr>
          <th>Resolution ID</th>
          <th>Complaint ID</th>
          <th>Respondent ID</th>
          <th>Resolution Header</th>
          <th>Resolution</th>
          <th>Posted On</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resolution of resolutionService.allResolutions">
          <td>{{ resolution._id }}</td>
          <td>{{ resolution.complaint_id }}</td>
          <td>{{ resolution.user_id }}</td>
          <td>{{ resolution.resolution_header }}</td>
          <td>{{ resolution.resolution_body }}</td>
          <td>{{ resolution.createdAt | date:'medium' }}</td>
          <td>{{ resolution.updatedAt | date:'medium' }}</td>
          <td>
            <!-- edit button -->
            <a class="action-btn edit" title="Edit Resolution">
              <i class="material-icons" (click)="onEditResolution(resolution)">edit</i>
            </a>
            <!-- delete button -->
            <a class="action-btn delete" title="Delete Resolution">
              <i class="material-icons" (click)="onDeleteResolution(resolution._id)">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
