
<div class="header">
  <h4> Analytics </h4>
</div>

<div class="concerns-analytics">
  <div class="total inqueue">
    <p>In Queue Concerns</p>
    <h2>{{ inQueueConcerns }}</h2>
  </div>

  <div class="total moderated">
    <p>Moderated Concerns</p>
    <h2>{{ moderatedConcerns }}</h2>
  </div>

  <div class="total pending">
    <p>Pending SSO Response</p>
    <h2>{{ pendingSSOResponse }}</h2>
  </div>

  <div class="total resolved">
    <p>Resolved Concerns</p>
    <h2>{{ resolvedConcerns }}</h2>
  </div>
</div>

<div class="chart-container">
  <h4>Analytics Chart</h4>
  <div class="chart-div">
    <canvas id="analyticsChart"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
    <!-- <p-chart type="pie" [data]="chartData" [options]="chartOptions"></p-chart> -->
  </div>
</div>

<!-- [chartType]="chartType"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [colors]="chartColors"
    [options]="chartOptions"
    [legend]="true" -->
