
<nav class="sticky">
  <button id='hideshow-menu-button' (click)="toogleMenu()"><i class="uil uil-bars"></i> Menu</button>
  <h3 class="nav-bar-text">AUP Online Student Complaint Management System</h3>
</nav>
<div class="main-content-wrapper">


  <main class="wrapper">
   <div id='side-menu' *ngIf="!displayMenu">
      <ul>
         <li (click)="toogleMenu()" routerLink="/home"><i class="menu-icon uil uil-estate"></i> Home</li>
         <li (click)="toogleMenu()" routerLink="/complaints"><i class="menu-icon uil uil-fast-mail"></i> Submit Complaint</li>
         <li (click)="toogleMenu()" routerLink="/compl-status"><i class="menu-icon uil uil-envelope-question"></i> Complaint Status</li>
         <li (click)="toogleMenu()" routerLink="/faq"><i class="menu-icon uil uil-question-circle"></i> FAQ</li>
         <li (click)="toogleMenu()" routerLink="/profile"><i class="menu-icon uil uil-user"></i> Profile</li>
         <li (click)="toogleMenu()" routerLink="/help"><i class="menu-icon uil uil-info-circle"></i> Help</li>
         <li (click)="toogleMenu()" routerLink="/about"><i class="menu-icon uil uil-comment-info-alt"></i> About Us</li>
         <li (click)="toogleMenu();onLogout()"><i class="menu-icon uil uil-signout"></i> Sign Out</li>
         <li routerLink="/manage-users" (click)="toogleMenu()"><i class="menu-icon uil uil-signout"></i> Manage Users </li>
       </ul>
   </div>

   <div class="main-content">
    <router-outlet></router-outlet>
   </div>
  </main>

  <footer>
       AUP Online Student Complaint Management System &copy;
  </footer>

  <script src="js/main.js"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</div>
