<body>
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h2 class="mb-0 pb-3">Submit Complaint</h2>
            <form #complaintForm="ngForm" (ngSubmit)="onSubmitComplaint(complaintForm)" autocomplete="off">
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                    <div class="card">
                      <div class="center-wrap">
                          <div class="form-group">
                            <input type="text" #full_name="ngModel"[(ngModel)]="complaintService" required
                              class="form-style"
                              placeholder="Your Full name"
                              id="full_name"
                              autocomplete="none">
                            <i class="input-icon uil uil-user"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input type="text" #school_ID="ngModel"[(ngModel)]="complaintService" required
                              class="form-style"
                              placeholder="Your school ID"
                              id="school_ID" autocomplete="none">
                            <i class="input-icon uil uil-at"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input type="text" #compl_header="ngModel"[(ngModel)]="complaintService" required
                              class="form-style"
                              placeholder="Complaint Header"
                              id="compl_header" autocomplete="none">
                            <i class="input-icon uil-comment-alt-message"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input type="text" #compl_body="ngModel"[(ngModel)]="complaintService" required
                              class="compl-style"
                              placeholder="Your Complaint"
                              id="compl_body" autocomplete="none">
                          </div>
                          <div class="buttons">
                            <div class="single-button cancel">
                              <button class="btn" type="button" (click)="resetcomplaintForm()">Cancel</button>
                            </div>
          
                            <div class="single-button submit">
                              <button class="btn" type="submit" [disabled]="!complaintForm.valid">Submit</button>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>
</body>
  
