<!-- <!DOCTYPE html> -->
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!-- <html lang="en" dir="ltr"> -->
  <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">

   </head> -->
<!-- <body> -->
  <!-- <nav>
    <div class="menu">
      <div class="logo">

      </div>

    </div>
  </nav> -->
  <div class="main-div">
    <div class="content">
      <h1>Hi, <br> </h1>
        <h2>{{ studentProfile?.first_name}} {{studentProfile?.last_name}}</h2>

      <h4>Welcome to the AUP's Online Student Concern Management System.</h4>

        <p>Please keep in mind that when submitting a Concern, typing in English
          will help us understand your concern better and resolve it quicker.</p>

        <div class="links">
          <a routerLink="/submit-concern" class="btn">Submit Concern</a>
          <a routerLink="/my-concerns" class="btn2">My Concerns</a>
        </div>

    </div>
  </div>

  <div class="wrapper">
    <div class="panel">
      <div class="panel-header">
        <h3 class="title">Your Statistics</h3>

        <div class="calendar-views">
          <span>Day</span>
          <span>Week</span>
          <span>Month</span>
        </div>
      </div>

      <div class="panel-body">
        <div class="categories">
          <div class="category">
            <span>New Users</span>
            <span>0</span>
          </div>
          <div class="category">
            <span>Total Concerns</span>
            <span>0</span>
          </div>
          <div class="category">
            <span>Reslove Concerns</span>
            <span>0</span>
          </div>
        </div>
        
        </div>
      </div>
    </div>

<!-- </body> -->
<!-- </html> -->
