<!-- <!DOCTYPE html> -->
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!-- <html lang="en" dir="ltr"> -->
  <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">

   </head> -->
<!-- <body> -->
  <!-- <nav>
    <div class="menu">
      <div class="logo">

      </div>

    </div>
  </nav> -->
  <div class="text-block">
    <div class="title1">Hi {{ studentProfile.first_name}} {{studentProfile.last_name}}</div>
    
    <div class="title2">And Welcome to the AUP's online student Feedback system, In this website we would like to know your Feedback
      to the School's facility and the School's learning system.

      <div class="title3">Please be reminded when typing a feedback please make sure to type in english form so that other students
        can understand it and do not use any inapropriate words and sentence, use appropriate sentence so that the people who will read 
        you feedback can understand it and they can fix your feedback.
        
        <div class="title4">To get started simple click the menu button on the top left corner of the screen. Have a nice day :)</div>
      </div>
    </div>
  </div>

<!-- </body> -->
<!-- </html> -->
