@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2family=Baloo+2&display=swap");
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
.center{
  /* position: absolute;
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: block;
}
.title1{
  color: #fff;
  text-align: center;
  padding: 2%;
  font-size: 50px;
  font-weight: 500;
}
.title2{
  color: #fff;
  padding: 0%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.title3{
  color: #fff;
  padding: 3%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.title4{
  color: #fff;
  padding: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
/* *.img1{
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}*/

/* *.text-block {
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}

.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background:#2a2b38;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover, .btn:focus {
  background-color: #fff;
  color: #12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
  opacity: 0.8;
  background-color: #fff;
  color:#2a2b38;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.btn.block {
  display: block !important;
}

/* mobile responsiveness
@media only screen and (max-width: 390px) {

  .btn {
    padding: 0 20px;
  }
} */

.main-div {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("../../../assets/images/Home.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  position: relative;
}

.content{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  justify-content: center;

}
.content h1{
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}

.content h2{
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #12f8ad;
}

.content p{
  font-size: 17px;
  color: rgb(201, 192, 192);
}

.links {
  display: flex;
  justify-content: space-around;
}

.content .btn{
  background:#009578;
  border-radius: 8px;
  padding: 10px ;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(92,28,68,0.15);
}
.content .btn2{
  background:#ffffff;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color:black;
  box-shadow: 3px 8px 22px rgba(92,28,68,0.15);
}

/* chatbot */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  padding: 10em 10em;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.glass {
  width: 500px;
  height: 400px;
  background-color: rgba(170, 230, 187, 0.1);
  padding: 50px;
  color: #000;
  border-radius: 9px;
  backdrop-filter: blue(50px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px rgba(45,55,68,0.3);
  line-height: 1.5;
  transform: translateY(-5%);
  transition: transform 0.5%;
}
.glass-1 {
  width: 500px;
  height: 400px;
  background-color: rgba(255,255,255,0.1);
  padding: 50px;
  color: rgb(122, 82, 82);
  border-radius: 9px;
  backdrop-filter: blur(50px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45,55,68,0.3);
  
  line-height: 1.5;
  transform: translateY(-5%);
  transition: transform 0.5s;
  font-size: 1.7rem;
}
.glass h1{
  font-size: 1.5rem;
  text-align: center;
}
.input{
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin-top: 40px;
}
.input input{
  width: 100%;
  height: 70px;
  border: none;
  padding-left: 30px;
  padding-top: 0;
  outline: none;
  font-size: 1.5rem;
  border-radius: 20px;
}
.glass p{
  font-size: 1.6rem;
  margin-top: 30px;
}


/* mobile responsiveness */
@media only screen and (max-width: 390px) {

  .btn {
    padding: 0 20px;

  }
}

@media only screen and (max-width: 414px) {
  .content h1, .content h2 {
    font-size: 45px;
    margin-top: 15px;
  }
}
