<!-- <!DOCTYPE html> -->
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!-- <html lang="en" dir="ltr"> -->
  <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">

   </head> -->
<!-- <body> -->
  <!-- <nav>
    <div class="menu">
      <div class="logo">

      </div>

    </div>
  </nav> -->
  <div class="text-block">
    <div class="title1">Hi, {{ studentProfile.first_name}} {{studentProfile.last_name}}</div>
    
    <div class="title2">Welcome to the AUP's Online Student Concerns system. In this website we would like to know your Feedback
      to the School's facility and the School's learning system.

      <div class="title3">Please keep in mind when submitting a concern to type in English so that other students
        can understand it and use appropriate sentence so that the people who will read your concerns can understand it and help you resolve it.
        
        <a href="SubmitComplaint" class="btn gray block">Submit Feedback</a>
      </div>
    </div>
  </div>

<!-- </body> -->
<!-- </html> -->
