@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} */
::selection{
  color: #000;
  background: #fff;
}
.center{
  /* position: absolute; */
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: block;
}
.title{
  color: #fff;
  text-align: center;
  padding: 10%;
  font-size: 50px;
  font-weight: 900;
}
.sub_title{
  color: #fff;
  padding: 0%;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}
.img1{
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}

.text-block {
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}
