@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
.center{
  /* position: absolute;
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: block;
}
.title1{
  color: #fff;
  text-align: center;
  padding: 2%;
  font-size: 50px;
  font-weight: 500;
}
.title2{
  color: #fff;
  padding: 0%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.title3{
  color: #fff;
  padding: 3%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.title4{
  color: #fff;
  padding: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
/* *.img1{
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}*/

/* *.text-block {
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}

.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background:#2a2b38;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover, .btn:focus {
  background-color: #fff;
  color: #12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
  opacity: 0.8;
  background-color: #fff;
  color:#2a2b38;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.btn.block {
  display: block !important;
}

/* mobile responsiveness
@media only screen and (max-width: 390px) {

  .btn {
    padding: 0 20px;
  }
} */

.main-div {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("../../../assets/images/Home.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  position: relative;
}

.content{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  justify-content: center;

}
.content h1{
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}

.content h2{
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #12f8ad;
}

.content p{
  font-size: 17px;
  color: rgb(201, 192, 192);
}

.links {
  display: flex;
  justify-content: space-around;
}

.content .btn{
  background:#009578;
  border-radius: 8px;
  padding: 10px ;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(92,28,68,0.15);
}
.content .btn2{
  background:#ffffff;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color:black;
  box-shadow: 3px 8px 22px rgba(92,28,68,0.15);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #efefef;
  overflow: hidden;
}
.panel {
  width: 750px;
  height: 400px;
  background: #838CC7;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  overflow: hidden;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: #fff;
}
.title {
  color: #5E6977;
  font-weight: 500;
}

.calendar-views span {
  font-size: 14px;
  font-weight: 300;
  color: #BDC6CF;
  padding: 6px 14px;
  border: 2px solid transparent;
}
.panel-body {
  display: flex;
  height: 340px;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 39px 0px 41px 26px;
}
.category {
  display: flex;
  flex-direction: column;
}
.category span:first-child {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.6;
  color: #fff;
  margin-bottom: 6px;
}
.category span:last-child {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: relative;
}
.operating-systems {
  display: flex;
  justify-content: space-between;
  width: 215px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.android-os span {
  background: #80B354;
}
.ios-os span {
  background: #F5A623;
}
.windows-os span {
  background: #F8E71C;
}

/* mobile responsiveness */
@media only screen and (max-width: 390px) {

  .btn {
    padding: 0 20px;

  }
}

@media only screen and (max-width: 414px) {
  .content h1, .content h2 {
    font-size: 45px;
    margin-top: 15px;
  }
}
