@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} */
::selection{
  color: #000;
  background: #fff;
}
.center{
  /* position: absolute; */
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: block;
}
.title1{
  color: #fff;
  text-align: center;
  padding: 5%;
  font-size: 50px;
  font-weight: 500;
}
.title2{
  color: #fff;
  padding: 0%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.title3{
  color: #fff;
  padding: 3%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.title4{
  color: #fff;
  padding: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.img1{
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}

.text-block {
  position: block;
  background-image: url(../../../assets/images/wallhaven-wyw7d7.png);
  width: 100%;
  height: 100%;
}
.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: grey;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover, .btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.btn.block {
  display: block !important;
}