<!-- <!DOCTYPE html> -->
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!-- <html lang="en" dir="ltr"> -->
  <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">

   </head> -->
<!-- <body> -->
  <!-- <nav>
    <div class="menu">
      <div class="logo">

      </div>

    </div>
  </nav> -->
  <div class="text-block">
    <div class="title">Hello {{ studentProfile.first_name}} {{studentProfile.last_name}}</div>
    
    <div class="sub_title">Welcome to the AUP's online student Feedback system, if you have any feedback about
      the school's systems or facilities click the Submit Feedback button, if you want to see the other feature of the website click the menu button.
    </div>
    <a href="Submit Complaint" class="button3">Submit Feedback</a>
    <a href="Menu" class="button3">Menu</a>
  </div>

<!-- </body> -->
<!-- </html> -->
