<!-- <!DOCTYPE html> -->
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!-- <html lang="en" dir="ltr"> -->
  <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">

   </head> -->
<!-- <body> -->
  <!-- <nav>
    <div class="menu">
      <div class="logo">

      </div>

    </div>
  </nav> -->
  <div class="text-block">
    <div class="backgorund">
      <img src="../../../assets/images/wallhaven-wyw7d7.png" alt="" class="img1">
      
</div>
    <div class="title">Hello Fellow Student</div>
    <div class="sub_title">And welcome to the Aup's online student complaint system, if you have any feedback about
      the school's system or facility click the Menu button.
    </div>
    
<!-- </body> -->
<!-- </html> -->
