
/*#1b2223
#3a4f50
#0ef6cc
#f4fefd
#12f8ad*/
/*.bg {
    position: center;
}*/
content {
    width: 80%;
    right: 0;     
}
.user-pad {
    padding: 20px 25px;
}
.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
.user-details {
    background:#3a4f50 ;
    min-height: 333px;
}
.user-image {
    max-height: 200px;
    overflow: hidden;
}
.col-md-6 {
    size: 10px;
    margin-left: 0%;
}

hr {
    height: 1px;
    background-color: #12f8ad;
}
ul.b {
    list-style-type: square;
    color: #3a4f50;
    font-weight: bold;
    display: inline-block;
}