
.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.who-we-are{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.who-we-are span{
  width: 60%;
  align-items: baseline;
  text-align: center;

}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: black;
}
.card-img{
  border-radius: 5px;
  min-width: 100%;
  position: relative;
}
.cards .card{
  width: 16rem;
  margin: 20px;
  background: rgba(116, 216, 155, 0.507);
}
.card p{
  font-size: 14px;
  color: white;
}

.card-img1{
  width: 100%;
  height: 15rem;
  background-image: url('../../../assets/images/Joe.png');
  background-size: cover;
  background-position: center center;
}
.card-img2{
  width: 100%;
  height: 15rem;
  background-image: url('../../../assets/images/Adeline Uwibambe.jpg');
  background-size: cover;
  background-position: center center;
}
.card-img3{
  width: 100%;
  height: 15rem;
  background-image: url('../../../assets/images/Antoinette.jpg');
  background-size: cover;
  background-position: center center;
}
.card-img4{
  width: 100%;
  height: 15.8rem;
  background-image: url('../../../assets/images/Fritz.jpg');
  background-size: cover;
  background-position: center center;
} 