<main>
    <div class="header">
        <h4> Frequently Asked Questions </h4>
    </div>
<section>
    <div class="container">
        <div class="accordion">
            <div>
                <input type='checkbox' name="faq_accordion" id="question1" class="accordion__input">
                <label for="question1" class="accordion__label">Where is Aup located?</label>
                <div class="accordion__content">
                    <p>Where is Aup located?</p>
                    <p>
                        Puting Kahoy, 4118 Silang Cavite
                        Phillippines
                    </p>
                </div>
            </div>
            <div>
                <input type='checkbox' name="faq_accordion" id="question2" class="accordion__input">
                <label for="question2" class="accordion__label">What makes Aup a good school?</label>
                <div class="accordion__content">
                    <p>What makes Aup a good school?</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, 
                        est sit enim rem a nulla voluptate pariatur maxime cumque qui maiores velit! 
                        Vero aliquid dolore sapiente dolor! Quidem, repellendus ad!
                    </p>
                </div>
            </div>
            <div>
                <input type='checkbox' name="faq_accordion" id="question3" class="accordion__input">
                <label for="question3" class="accordion__label">Why is Aup a good school?</label>
                <div class="accordion__content">
                    <p>Why is Aup a good school?</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, 
                        est sit enim rem a nulla voluptate pariatur maxime cumque qui maiores velit! 
                        Vero aliquid dolore sapiente dolor! Quidem, repellendus ad!
                    </p>
                </div>
            </div>
            <div>
                <input type='checkbox' name="faq_accordion" id="question4" class="accordion__input">
                <label for="question4" class="accordion__label">How can i apply to be an off-campus student?</label>
                <div class="accordion__content">
                    <p>How can i apply to be an off-campus student?</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, 
                        est sit enim rem a nulla voluptate pariatur maxime cumque qui maiores velit! 
                        Vero aliquid dolore sapiente dolor! Quidem, repellendus ad!
                    </p>
                </div>
            </div>
        </div>
    </div>

