<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="container">
<h3>Complaints List</h3>
<table class="main-table" style="overflow: scroll;">

  <thead>
    <tr>
      <th>Complaint Header</th>
      <th>Complaint</th>
      <th>Student Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let complaint of complaintService.allComplaints">
      <td>{{ complaint.complaint_header }}</td>
      <td>{{ complaint.complaint_body }}</td>
      <td>{{ complaint.student_name }}</td>
      <td *ngIf="complaint.complaint_status === 0">In queue</td>
      <td *ngIf="complaint.complaint_status === 1">Received by CSC personnel</td>
      <td *ngIf="complaint.complaint_status === 2">Moderated</td>
      <td *ngIf="complaint.complaint_status === 3">Pending SSO response</td>
      <td *ngIf="complaint.complaint_status === 4">Resolved</td>
    </tr>
  </tbody>
</table>
